// nesting - anidación
.header-intro{
    .menu{
        background-color: transparent;
        li{
            a{
                font-family: $mainFont;
                &:hover{
                    color: $secondaryColor;
                }
            }
        }
        img{
            width: 120px;
        }
    }
}